.App {
  width: 100%;
  margin: auto;
  /* font-family: 'Roboto', sans-serif; */
  overflow-x: hidden;
}

.hero {
  width: 100%;
  padding-bottom: 25px;
}

.hero img {
  width: 100%;
}

.hero-stripe {
  position: absolute;
  top: 50px;
  background-color: black;
  opacity: 0.75;
  width: 100%;
  color: white;
  line-height: 100px;
  width: 100%;
  font-weight: 700;
}

.hero-title {
  position: relative;
  float: left;
  font-size: 2em;
  padding-left: 20px;
}

.hero-links {
  position: absolute;
  right: 0;
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: 20px;
}

.hero-links a:link,
.hero-links a:visited {
  text-decoration: none;
  color: white;
}

.hero-links a:hover {
  color: rgb(172, 172, 172);
}

.hero-link {
  font-size: 1em;
  display: inline-block;
  padding-right: 20px;
}

.hero-links-mobile {
  background-color: black;
  width: 100%;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: 20px;
  font-size: 1em;
  cursor: pointer;
}

.mobile-item-container {
  max-width: 400px;
  margin: auto;
}

.mobile-item {
  position: relative;
  display: inline-block;
  padding: 20px;
  margin: auto;
}

.mobile-item a:link,
.mobile-item a:visited {
  text-decoration: none;
  color: white;
}

.mobile-item a:hover {
  color: rgb(172, 172, 172);
}

.bio {
  padding: 25px 0 25px 0;
  width: 80%;
  max-width: 800px;
  margin: auto;
  font-size: 1.2em;
}

.bio-header {
  font-size: 1.2em;
}

.portfolio-header {
  align-content: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1.4em;
}

/* .portfolio-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 1;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 0 0 25px 0;
} */

/* .portfolio-flex-item {
  flex: 1 1 160px;
  padding-right: 10px;
}*/

.portfolio-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  width: 80%;
  max-width: 800px;
  padding: 0 0 25px 0;
  margin: auto;
}

.portfolio-grid-item a:link,
.portfolio-grid-item a:visited {
  color: black;
}

.blog {
  padding: 25px 0 75px 0;
  width: 80%;
  max-width: 800px;
  margin: auto;
  font-size: 1.2em;
}

.blog img {
  position: relative;
  top: 8px;
  left: 5px;
  width: 30px;
  height: 30px;
}

.blog a:link,
.blog a:visited {
  color: white;
}

@media screen and (max-width: 678px) {
  .hero-links {
    display: none;
  }
}

@media screen and (max-width: 678px) {
  .hero-links-mobile {
    position: fixed;
    bottom: 0;
    padding-right: 0px;
    padding-left: 5px;
  }

  /* .portfolio-flex-container {
    padding: 10px 0 0px 0;
  } */

  .blog {
    padding-bottom: 140px;
  }

  .hero-stripe {
    position: absolute;
    top: 50px;
    background-color: black;
    opacity: 0.75;
    width: 100%;
    color: white;
    line-height: 50px;
    width: 100%;
    font-weight: 700;
  }

  .hero-title {
    position: relative;
    float: left;
    font-size: 1.2em;
    padding-left: 20px;
  }
}
